database {
    host: "localhost"
    port: 5432
    user: "DATABASE_USER"
    pass: "DATABASE_PASS"
    name: "DATABASE_NAME"
}

tokens {
    topgg: "TOP.GG TOKEN"
    bfd: "BOTSFORDISCORD.COM TOKEN"
    dboats: "DISCORD.BOATS TOKEN"
    dbotsgg: "DISCOR.BOTS.GG TOKEN"
}

bot.id: "YOUR DISCORD APPLICATION ID"
